.cm-label {
  font-weight: bold;
}
.cm-legend {
    font-size: 1.2em;
}

.cm-panel {
    padding : 0.01em 16px;
    background-color: white;
}

.cm-panel {
    margin-top    : 16px;
    margin-bottom : 16px;
}

.cm-hidden {
    display: none;
}

.cm-show {
    display: block;
}

i.cmr-query-builder-icon {
    background-image: url('../img/queryBuilderIcon.jpg');
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 25% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}